// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$white: #ffffff;

$theme-colors: (
    "light":      #e7e7de,
    "dark":       #000500,
    "primary":    #2638ba,
    "secondary":  #ac1c56,
    "info":       #d49a5a,
    "success":    #1aa160,
    "warning":    #e0cb1b,
    "danger":     #ee210c,
);