// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

html {
    height: 100%;
}

body {
    padding-top: 80px;
    padding-bottom:75px;
    min-height: 100%;
    position: relative;
}

.navbar-brand img {
    height: 50px;
    margin-right: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}