// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand img {
    width: 50px;
    margin-right: 10px;
    height: auto;
    min-height: 10px; 
}

html[data-bs-theme='dark'] .navbar, html[data-bs-theme='dark'] .footer {
    background-color: #123524;
}


html[data-bs-theme='light'] .navbar, html[data-bs-theme='light'] .footer {
    background-color: #A9C46C;
}